<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Css link  -->
    <link rel="stylesheet" href="assets/css/style.css" />
    <!-- Font awesome  -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <!-- animation link  -->
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />
    <title>SignUp</title>
  </head>
  <body>
    <main id="main">
      <form id="signup-form">
        <div class="signup-title">
          <h1>signUp form</h1>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. A sunt accusantium quia consequuntur distinctio magni eius sint earum ipsum id. Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero dolores animi cumque quo quas ad obcaecati quia nam vitae earum.</p>
        </div>
        <div class="signup-form-control">
          <input type="text" name="name" placeholder="Name" />
        </div>
        <div class="signup-form-control">
          <input type="email" name="email" placeholder="Email" />
        </div>
        <div class="signup-form-control">
          <input type="password" name="password" placeholder="Password" />
        </div>
        <div class="signup-btn">
          <button class="signup-submit">submit</button>
        </div>
        <nav>
          <ul>
            <li><a href="/">home </a></li>
            <li><a href="/login">login</a></li>
          </ul>
        </nav>
      </form>
    </main>



    <!-- Container -->
    <!-- Js files  -->
    <script src="assets/js/app.js"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
      AOS.init();
    </script>
  </body>
</html>
